




body, html {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: black;

  }



p{
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bolder;
    color: blue;
    text-align: center;
}

img{
  width: 20%;
  position: absolute;
  top:40%;
  left:82%;

}

.coral{
  width:10%;
  position:absolute;
  top: 120%;
  right:87%;
  content: url(https://i.imgur.com/zs41XHa.png)
}

h1{
  position: absolute;
  font-size: xx-large;
  color:blue;
  top:40%;
  left:5%;

}